extends layout
block content

	.panel300
		h2.centered #{user.user}
		h4.centered (_.-{__#{user.rank}__}-._)
				
	.flexbox.sa
		.fs1
			h5.centered My Links
		.fs1
			h5.centered Bookmarked
		.fs1
			h5.centered Recommended
		.fs1
			h5.centered Newly Added
		.fs1
			h5.centered Other