extends layout
block content

	.panel300
		h1.centered ERROR
		//-h3.centered.mt20 There was an unknown problem that occured in an unknown location.
		//-p.mt30 !{message}
		//-p.centered.mt30 Sorry about that. Try whatever you were doing before. If it happens again, you're probably doing the internet wrong.
		p  Error: #{message}