include ../mixins/mixin.jade
doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/cropper.min.css')
		link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css')
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous")
		base(href="/")
	body
	.fixedheader
		p.fs10.centered You wont get any rickrolls here
	.flexbox#headerbox
		.fg1
			h1 
				a(href="/") linkme
		.fg1.flexbox.stretch
			.fg1.search 
				input(type="text" name="q" placeholder="search")
		.fg1.stretch.ar 
			include navmenu.jade
	.bordertop.mb30.flexbox-row
		.fg1 share your links and help a fucker out
		.fg1.flexbox-row
			.fg1.ar
				label.fs10
					input(type="checkbox" id="togglethumbs")
					| hide thumbnails
			.fs1.ar.ml5
				label.fs10.lh0
					input(type="checkbox" id="togglestats")
					| hide stats

	block content
	block footer
		.stickyfooter.fs10.centered.hidden Powered by: nudejs


	-if(user != undefined){
		.stickychat 
			//-include chat.jade
	-}
	script(src='https://code.jquery.com/jquery-2.1.4.min.js' type='text/javascript')
	script(src='js/main.js' type='text/javascript')
	script(src='js/cropper.min.js' type='text/javascript')